body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #111;
    color: #fff;
}

.mode-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
}

#infos {
    font-weight: bold;
    margin-bottom: 10px;
}

#imageInput {
    margin-bottom: 10px;
}

#outputContainer {
    display: none;
    margin-top: 20px;
}

#outputImage {
    max-width: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.topPositionButton {
    background-color: darkblue;
}

.centerPositionButton {
    background-color: darkred;
}

.bottomPositionButton {
    background-color: darkgreen;
}

.topPositionButton, .centerPositionButton, .bottomPositionButton {
    border: none;
    color: white;
    cursor: pointer;
    flex: 0 0 calc(16.66% - 15px); /* Adjust the width for 6 buttons in a row */
    margin: 5px;
    padding: 8px; /* Adjust padding for buttons's size */
    text-align: center;
    width: 100%;
}

#downloadButton {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .mode-toggle {
        right: 10px;
        top: 25px;
    }

    .positionButton {
        padding: 5px;
    }
}